
<form method="POST" enctype="multipart/form-data" action="{% url 'add_record' %}" class="px-4">
  {% csrf_token %}

{% if record_form.errors or record_form.non_field_errors %}
<div id="formErrorAlert" class="alert alert-danger shadow-sm">
    <ul class="mb-0 ">

        {% for error in record_form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}

        {% for field in record_form %}
            {% for error in field.errors %}
                <li> 
                    <strong>{{ field.label }}:</strong>
                    {{ error }} 
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>

{% endif %}
 
<div class="mb-3">
    <label>Name</label>
    {{ record_form.name }}
</div>

<div class="mb-3">
    <label>Agent Name</label>
    {{ record_form.agent_name }}
</div>

<div class="mb-3">
    <label>IP Address</label>
    {{ record_form.ip_address }}
</div>

<div class="mb-3">
    <label>Section</label>
    {{ record_form.section }}
</div>

<div class="mb-3 form-group">    
    <label>Key File</label>
    {{ record_form.key_file }}
    <br>
    <small id="keyHelp" class="form-text text-muted">Make sure you have .txt file to upload.</small>
</div>
<div class="my-4 text-center">
    <button type="submit" class="btn btn-primary">Save Record</button>
</div>
</form>
